@media only screen and (min-device-width: 650px) {/* Normal Display*/
    body{
        width: 100%;
        height: 100%;
        background-color: dimgray;
    }

    h1, h2{
        text-align: center;
        color: white;
    }

    h3{
        color: white;
        display: inline;
    }

    #hopfendiagram{
        width: auto;
        height: auto;
    }

    #hopfen{
        width: 33%;
        height: 25em;
        float: left;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #helpstuff{
        width: 33%;
        height: 25em;
        float: left;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
    }

    #overview{
        width: 33%;
        height: 25em;
        float: left;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
    }

    #mixing{
        width: 33%;
        height: 25em;
        float: left;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #shots{
        width: 33%;
        height: 25em;
        float: left;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
    }

    #drinking{
        width: 33%;
        height: 25em;
        float: left;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
    }

    #drinks{
        width: 100%;
    }


    .drink{
        width: 25%;
        text-align: left;
    }

    .money{
        width: 12.5%;
        text-align: right;
        padding-right: 1em;
    }

    .categories{
        width: 100%;
        align-content: center;
    }

    #add{
        align-self: center;
    }

    input{
        font-size: 1vm;
        color: #FFFFFF;
        font-size: 12px;
        border: 3px double antiquewhite;
        background-color: #5F5F5F;
        padding: 3px;
        margin-bottom: 15px;
        height: 30px;
        width: 20%;
    }

    button{
        font-size: 1vw;
        font-family: 'Arcade Normal', arial;
        text-align: center;
        cursor: pointer;
        color: antiquewhite;
        border: 3px solid antiquewhite;
        padding: 4px 8px;
        background-color: black;
        border-radius: 5px;
        width: 10%;
    }

    button:hover{
        background-color: antiquewhite;
        color: black;
    }
}

@media only screen and (max-device-width: 649px) {/*Smartphone and other devices*/
    body{
        width: 100%;
        height: 100%;
        background-color: dimgray;
    }

    h1, h2{
        text-align: center;
        color: white;
    }

    h3{
        color: white;
    }

    #hopfen{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #helpstuff{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #overview{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #mixing{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #shots{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #drinking{
        width: 33%;
        height: 25em;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: medium;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: medium;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: medium;
    }

    #drinks{
        width: 100%;
    }


    .drink{
        width: 25%;
        text-align: left;
    }

    .money{
        width: 12.5%;
        text-align: right;
        padding-right: 1em;
    }
}
